from typing import Any

from codex_bot.base import ViewResultDTO
from ..resources.formatters import {{ class_name }}Formatter
from ..resources.keyboards import build_main_kb


class {{ class_name }}UI:
    """
    UI service for the {{ class_name }} feature.
    Assembles texts and keyboards into ViewResultDTO.
    """
    def __init__(self):
        self.formatter = {{ class_name }}Formatter()

    def render_main(self, payload: Any) -> ViewResultDTO:
        text = self.formatter.format_main(payload)
        kb = build_main_kb()
        return ViewResultDTO(text=text, kb=kb)
